<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <i class="fa-brands fa-rocketchat text-2xl"></i>
      <ion-label>Vivencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="fa-regular fa-square-plus text-2xl"></i>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i class="fa-solid fa-circle-info text-2xl"></i>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
